.security {

    background-color: $light-blue-bg;
    background-position: center 70px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 149px 0 278px;
    @media(max-width: 767px) {
        background-size: 347px 347px;
        background-position-y: bottom;
        padding-bottom: 357px;
    }

    // .security__title

    &__title {
        max-width: 944px;
        margin: 0 auto;
        margin-bottom: 20px;
        @media(max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &__items {
        position: relative;
        min-height: 446px;
        margin-top: 94px;
        @media(max-width: 767px) {
            margin-top: 50px;
        }
    }

    // .security__item

    &__item {
        position: absolute;
        display: flex;
        align-items: center;
        width: 379px;
        border-radius: 10px;
        padding: 27px 12px 26px 20px;
        transition: .3s all;
        @media(max-width: 767px) {
            position: static;
            flex-direction: column;
            width: 100%;
            //min-height: 248px;
            text-align: center;
            padding: 0;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {
            align-items: flex-start;
            background: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 4, 41, 0.05);
            @media(max-width: 767px) {
                align-items: center;
                padding: 20px 10px;
            }
            .security {
                &__item-title {
                    margin-bottom: 10px;
                }
                &__item-text {
                    display: block;
                }
            }
        }

        &:nth-child(odd) {
            .security {
                &__item-icon {
                    margin-right: 7px;
                    @media(max-width: 767px) {
                        margin: 0;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        &:nth-child(even) {
            .security {
                &__item-icon {
                    margin-left: 7px;
                    @media(max-width: 767px) {
                        margin: 0;
                        margin-bottom: 15px;
                        order: -1;
                    }
                }
            }
        }

        &--verified {
            top: 12px;
            right: 20px;
        }

        &--like {
            top: 50px;
            left: 40px;
        }

        &--reviews {
            @include centerY;
            right: -50px;
            @media(max-width: 767px) {
                transform: none;
            }
        }

        &--star {
            left: 70px;
            bottom: 30px;
        }

        &--filter {
            bottom: -80px;
            right: 70px;
        }
    }

    // .security__item-content

    &__item-content {
        max-width: 290px;
        line-height: 22px;
        @media(max-width: 767px) {
            max-width: 100%;
        }
    }

    // .security__item-title

    &__item-title {
        font-weight: 600;
        font-size: 16px;
        @media(max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    // .security__item-text

    &__item-text {
        display: none;
        font-weight: 500;
        font-size: 14px;
    }

    // .security__item-icon

    &__item-icon {
        width: 50px;
        height: 50px;
        @media(max-width: 767px) {
            margin-bottom: 15px;
        }
    }
}
