<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css"> <!-- Сетка -->
    <link rel="stylesheet" href="libs/normalize.css">
    <link rel="stylesheet" href="libs/slick.css">
    <link rel="stylesheet" href="libs/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="libs/jquery.rateyo.min.css"> <!-- Звездный рейтинг -->
    <link rel="stylesheet" href="css/style.min.css">
    <title></title>
</head>