<!DOCTYPE html>
<html lang="ru">
@@include('_head.html')

<body>

    <!-- @@include('../blocks/modules/header/_header.html') -->

    @@include('../blocks/modules/promo/_promo.html')

    @@include('../blocks/modules/pleasant/_pleasant.html')

    @@include('../blocks/modules/about/_about.html')

    @@include('../blocks/modules/forget/_forget.html')

    @@include('../blocks/modules/customers/_customers.html')

    @@include('../blocks/modules/directions/_directions.html')

    @@include('../blocks/modules/benefits/_benefits.html')

    @@include('../blocks/modules/video/_video.html')

    @@include('../blocks/modules/convenience/_convenience.html')

    @@include('../blocks/modules/security/_security.html')

    @@include('../blocks/modules/calculator/_calculator.html')

    @@include('../blocks/modules/clients/_clients.html')

    @@include('../blocks/modules/media/_media.html')

    @@include('../blocks/modules/founder/_founder.html')

    @@include('../blocks/modules/registration/_registration.html')

    @@include('../blocks/modules/start/_start.html')

    @@include('../blocks/modules/questions/_questions.html')

    @@include('../blocks/modules/footer/_footer.html')

    @@include('_js.html')

</body>
</html>