.registration {

    padding-bottom: 180px;
    //background-image: url('../img/macbook.png');
    //background-size: contain;
    //background-position: left 122px;
    //background-repeat: no-repeat;
    @media(max-width: 767px) {
        background-image: none;
    }

    &__inner {
        //display: flex;
        //justify-content: flex-end;
        @include flex;
        align-items: center;
    }

    &__img {
        //display: none;
        width: 912px / 1920px * 100%;
        max-width: 100%;
        height: auto;
    }

    // .registration__title

    &__title {
        max-width: 944px;
        margin: 0 auto;
        margin-bottom: 112px;
        @media(max-width: 991px) {
            max-width: 70%;
        }
        @media(max-width: 767px) {
            text-align: center;
            margin-bottom: 40px;
        }
        @media(max-width: 575px) {
            max-width: 100%;
        }
    }

    // .registration__content

    &__content {
        width: 50%;
        //display: flex;
        //justify-content: flex-end;
    }

    // .registration__list-title

    &__list-title {
        max-width: 449px;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        @media(max-width: 767px) {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
        }
        @media(max-width: 575px) {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }

    // .registration__list

    &__list {
        margin-bottom: 40px;
        @media(max-width: 575px) {
            margin-bottom: 50px;
        }
    }

    &__item {
        align-items: center;
        @media(max-width: 767px) {
            flex-direction: column;
            text-align: center;
        }
    }

    // .registration__item

    &__item + &__item {
        margin-top: 20px;
        @media(max-width: 767px) {
            margin-top: 30px;
        }
    }

    // .registration__item-icon

    &__item-icon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        @media(max-width: 767px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    // .registration__item-title

    &__item-title {}

    // .registration__buttons

    &__buttons {}

    // .registration__btn

    &__btn {
        display: inline-block;
        height: 68px;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        @media(max-width: 767px) {
            font-size: 14px;
            line-height: 24px;
            margin: 0 auto;
        }
    }

    &__btn + &__btn {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        @media(max-width: 767px) {
            margin-left: auto;
            margin-top: 20px;
        }
    }

    &__enter-btn {
        width: 208px;
    }
}
