.container {
    max-width: $container + 30px * 2;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    //position: relative;
    overflow-x: hidden;
}

.section {
    padding-top: 120px;

    @media(max-width: 1200px) {
        padding: 100px 0;
    }
    @media(max-width: 991px) {
        padding: 80px 0;
    }

    @media(max-width: 767px) {
        padding: 60px 0;
    }

    /* &__head {
        text-align: center;
        margin: 0 auto;
        &--left {
            text-align: left;
            margin: 0;
        }
    } */

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        &--left {
            text-align: left;
            //margin: 0;
        }
        &--white {
            color: #fff;
        }
        @media(max-width: 575px) {
            font-size: 22px;
            line-height: 26px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        &--left {
            text-align: left;
        }
        @media(max-width: 575px) {
            font-size: 14px;
            line-height: 17px;
        }
        span {
            font-weight: 700;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
}

@import '../components/buttons';
@import '../components/slick';
@import '../components/logo';
@import '../components/list';
@import '../components/tabs';
@import '../components/range';
@import '../components/video-player';